@use '../../variables'
@use '../../mixins'

.container
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    width: 100vw
    height: 100vh

.logo
    @include mixins.logo
    font-size: clamp(4rem, 2vw, 4.5rem)
    //text-shadow: 2px 4px 5px rgba(0, 0, 0, 0.55)

.slogan
    font-family: 'Bw Modelica'
    font-weight: 500
    font-size: clamp(1.2rem, 2vw, 2rem)
    //line-height: 40px
    text-align: center
    color: variables.$SecondaryTextColor
    margin-top: 1rem

    span
        font-weight: 700

.form
    display: flex
    flex-direction: column
    width: clamp(100px, 90%, 600px)
    margin-top: 3rem
    padding: 0 2rem
    border-radius: 25px
    background-color: variables.$SecondaryColor

.wrap-input 
  width: 100%
  position: relative
  border-bottom: 2px solid variables.$SecondaryTextColor
  margin-top: 35px

.input
  font-size: 20px
  color: #fff
  line-height: 1.2
  border: none
  display: block

  width: 100%
  height: 45px
  padding: 0 5px
  background: transparent

.focus-input
  position: absolute
  display: block
  width: 100%
  height: 100%
  top: 0
  left: 0

  pointer-events: none
  color: variables.$SecondaryTextColor

.focus-input::before 
  content: ""
  display: block
  position: absolute

  width: 0
  height: 2px
  bottom: -2px
  left: 0

  -webkit-transition: all 0.4s
  -o-transition: all 0.4s
  -moz-transition: all 0.4s

  background: -webkit-linear-gradient(to left, #214AB3, #3DB6D0, #214AB3)
  background: -o-linear-gradient(to left, #214AB3, #3DB6D0, #214AB3)
  background: -moz-linear-gradient(to left, #214AB3, #3DB6D0, #214AB3)
  background: linear-gradient(to left, #214AB3, #3DB6D0, #214AB3)

.focus-input::after
  font-size: 15px
  color: #999999
  line-height: 1.2

  content: attr(data-placeholder)

  display: block
  position: absolute
  width: 100%
  top: 16px
  left: 0px
  padding-left: 5px

  -webkit-transition: all 0.4s
  -o-transition: all 0.4s
  -moz-transition: all 0.4s

.input:focus 
  outline: none

.input:focus + .focus-input::after 
  top: -15px

.input:focus + .focus-input::before 
  width: 100%

.has-val + .focus-input::after 
  top: -15px

.has-val + .focus-input::before 
  width: 100%

.error 
  color: #ff0000
  font-size: 12px
  font-weight: 500
  margin-top: 5px
  margin-bottom: 10px

.container-login-form-btn 
  display: flex
  flex-wrap: wrap
  justify-content: center
  padding-bottom: 13px
  margin-top: 50px

.login-form-btn 
  display: flex
  justify-content: center
  align-items: center
  width: 100%
  height: 50px

  border: none
  border-radius: 25px
  color: variables.$PrimaryTextColor

  font-size: 18px
  font-weight: 700
  text-transform: uppercase

  background: -webkit-linear-gradient(to left, #214AB3, #3DB6D0, #214AB3)
  background: -o-linear-gradient(to left, #214AB3, #3DB6D0, #214AB3)
  background: -moz-linear-gradient(to left, #214AB3, #3DB6D0, #214AB3)
  background: linear-gradient(to left, #214AB3, #3DB6D0, #214AB3)

.login-form-btn:hover 
  cursor: pointer

  background: -webkit-linear-gradient(to left, #3DB6D0, #214AB3, #3DB6D0)
  background: -o-linear-gradient(to left, #3DB6D0, #214AB3, #3DB6D0)
  background: -moz-linear-gradient(to left, #3DB6D0, #214AB3, #3DB6D0)
  background: linear-gradient(to left, #3DB6D0, #214AB3, #3DB6D0)

.loginWithText
    color: variables.$SecondaryTextColor
    margin-top: 1rem

.loginWith
    display: flex
    margin-top: 1rem
    gap: 0.3rem
    margin-bottom: 35px

.loginWithGoogle
    width: 50px
    height: 50px
    border-radius: 50%
    color: #000
    background: variables.$PrimaryTextColor

.loginWithFacebook
    width: 50px
    height: 50px
    border-radius: 50%
    color: #fff
    background: -webkit-linear-gradient(to left, #214AB3, #3DB6D0)
    background: -o-linear-gradient(to left, #214AB3, #3DB6D0)
    background: -moz-linear-gradient(to left, #214AB3, #3DB6D0)
    background: linear-gradient(to left, #214AB3, #3DB6D0)
