@use '../../../variables'

.group
  position: relative
  margin-top: 50px

.main-input 
  font-size: 16px
  padding: 10px 10px 10px 5px
  display: block
  width: 100%
  border: none
  border-bottom: 2px solid variables.$SecondaryTextColor
  background: transparent
  color: #ffffff

.main-input:focus
  outline: none
  border-image-slice: 1

  border-image-source: -webkit-linear-gradient(to left, #214AB3, #3DB6D0, #214AB3)
  border-image-source: -o-linear-gradient(to left, #214AB3, #3DB6D0, #214AB3)
  border-image-source: -moz-linear-gradient(to left, #214AB3, #3DB6D0, #214AB3)
  border-image-source: linear-gradient(to left, #214AB3, #3DB6D0, #214AB3)

.label-email 
  color: variables.$SecondaryTextColor
  font-size: 14px
  font-weight: normal
  position: absolute
  pointer-events: none
  left: 5px
  top: 10px
  transition: 0.2s ease all
  -moz-transition: 0.2s ease all
  -webkit-transition: 0.2s ease all

.main-input:focus ~ .label-email,
.main-input:valid ~ .label-email
  top: -20px
  font-size: 14px
