@use '../../../variables'

.loginWith
    display: flex
    align-items: center
    height: 55px
    margin-top: 1vh
    margin-bottom: 1.5vh
    gap: 15px

.loginWithGoogle
    border: none
    border-radius: 50%

    width: clamp(35px, 3vw, 50px)
    height: clamp(35px, 3vw, 50px)

    font-size: clamp(1.5rem, 2vw, 2rem)

    display: flex
    justify-content: center
    align-items: center
    background: variables.$PrimaryTextColor

.loginWithFacebook
    border: none
    border-radius: 50%
    overflow: hidden

    width: clamp(35px, 3vw, 50px)
    height: clamp(35px, 3vw, 50px)

    font-size: clamp(1.5rem, 2vw, 2rem)
    color: variables.$PrimaryTextColor

    display: flex
    justify-content: flex-end
    align-items: flex-end
    padding-right: 5px
    padding-bottom: 5px
    background: -webkit-linear-gradient(to left, #214AB3, #3DB6D0)
    background: -o-linear-gradient(to left, #214AB3, #3DB6D0)
    background: -moz-linear-gradient(to left, #214AB3, #3DB6D0)
    background: linear-gradient(to left, #214AB3, #3DB6D0)

.loginWithGoogle:hover, .loginWithFacebook:hover
    transition: all 0.2s ease-in-out
    cursor: pointer
    width: clamp(45px, 3vw, 55px)
    height: clamp(45px, 3vw, 55px)
    font-size: clamp(30px, 2vw, 40px)
    