@use '../../variables' as v
    
.header-container
    display: flex
    align-items: center
    gap: 8px
    padding: 16px 32px
    width: 100%

    background: v.$n-10
    box-shadow: 4px 4px 15px 0px rgba(0, 0, 0, 0.10)
    user-select: none

    .back
        width: 24px

    .text
        font-family: 'Roboto', sans-serif
        font-size: 24px
        font-style: normal
        font-weight: 700
        color: v.$s-50
        transition: all 0.5s

        &:hover
            color: v.$s-60
            