@use './variables'

@mixin logo
    font-family: 'Righteous'
    font-style: normal
    font-weight: 400

    /* BlueGradient */
    background: variables.$BlueGradient
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent
    background-clip: text
    text-fill-color: transparent