@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap')

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700;800&display=swap')

*
  padding: 0
  margin: 0
  box-sizing: border-box
  font-family: 'Inter', sans-serif
  font-style: normal
  font-weight: 400

::-webkit-scrollbar 
  width: 8px

::-webkit-scrollbar-track 
  background: #1D1A22

::-webkit-scrollbar-thumb 
  background-color: #322F37
  border-radius: 20px
