// COLORS

$PrimaryColor: #26292E
$SecondaryColor: #1E2025
$DisabledColor: #151619

$PrimaryTextColor: #F6F6F6
$SecondaryTextColor: #ABB4CA
$DisabledTextColor: #8C93A9

$BlueGradient: linear-gradient(75.93deg, #214AB3 0%, #3DB6D0 100%)